<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="csvPath" value="..\..\..\database\3.csv"/>
		<add key="rejectsLogPath" value="Logs\rejected_rows.log"/>
		<add key="maxRows" value="110"/>
		<add key="delayMs" value="50"/>
		<add key="simulateBreak" value="false"/>
		<add key="breakAfter" value="30"/>
	</appSettings>

	<system.serviceModel>
		<client>
			<endpoint name="DroneServiceEndpoint"
			          address="net.tcp://localhost:4000/Drone"
			          binding="netTcpBinding"
			          bindingConfiguration="droneNetTcp"
			          contract="Common.IDroneService"/>
		</client>

		<bindings>
			<netTcpBinding>
				<binding name="droneNetTcp"
				         maxReceivedMessageSize="67108864"
				         maxBufferPoolSize="67108864"
				         openTimeout="00:01:00"
				         closeTimeout="00:01:00"
				         sendTimeout="00:30:00"
				         receiveTimeout="00:30:00">
					<readerQuotas maxStringContentLength="2147483647"
					              maxArrayLength="2147483647"
					              maxBytesPerRead="2147483647"
					              maxDepth="2147483647"
					              maxNameTableCharCount="2147483647"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>
