<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="storagePath" value="Measurements"/>
	</appSettings>

	<system.serviceModel>
		<services>
			<service name="Server.DroneService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000/Drone"/>
					</baseAddresses>
				</host>
				<endpoint address=""
				          binding="netTcpBinding"
				          bindingConfiguration="droneNetTcp"
				          contract="Common.IDroneService"/>
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding name="droneNetTcp"
				         maxReceivedMessageSize="67108864"
				         maxBufferPoolSize="67108864"
				         openTimeout="00:01:00"
				         closeTimeout="00:01:00"
				         sendTimeout="00:30:00"
				         receiveTimeout="00:30:00">
					<readerQuotas maxStringContentLength="2147483647"
					              maxArrayLength="2147483647"
					              maxBytesPerRead="2147483647"
					              maxDepth="2147483647"
					              maxNameTableCharCount="2147483647"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>
